#DON'T SHOW DIRECTORY LISTINGS
Options -Indexes

#FOLLOW SYMBOLIC LINKS
Options +FollowSymLinks

#SET DEFAULT HANDLER
DirectoryIndex index.php

RewriteEngine On
ErrorDocument 404 http://localhost/elearning/404.html
