/*-----Client-----*//*-----Client-----*/
#client{
  width: 100%;
  height: auto;
}

/*-----client-----*/
.client{
  margin-top: 20px;
  padding: 14px;
  background: #f0d43a;
}
.client-logo{
  margin: 13px;
}
.client-logo img{
  vertical-align: baseline;
  width: calc(50% - 0px);
  margin-left: 60px;
}
