/*-----Register-----*//*-----Register-----*/
#main{
  width: 100%;
  height: auto;
}

/*-----main-----*/
.main{
  background-image: url('../../assets/image/Login.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/*-----form-area-----*/
.form-area{
  min-height: 100vh;
  padding: 15px 0;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.login-form{
  background: #FFF;
  padding: 50px 60px 45px 45px;
  box-shadow: ;
  min-width: 700px;
}
.login-header h1{
  color: #000;
  font-size: 30px;
  font-weight: ;
  margin-bottom: 15px;
}
.login-header p{
  color: grey;
  font-size: 16px;
  margin-bottom: 15px;
  font-weight: 300;
  line-height: 1.4;
}
.login-input{
  padding-top: 30px;
  padding-bottom: 55px;
}
.login-field label{
  display: block;
  font-size: 17px;
  margin-bottom: 5px;
  color: #000;
  font-weight: 500;
  text-align: left;
}
.login-field input{
  border: 1px solid #C9C9C9;
  width: 100%;
  height: 35px;
  margin-bottom: 20px;
  padding: 0 25px;
  color: #000;
}
.login-field input::placeholder{
  color: grey;
}
.login-footer a{
  color: ;
  font-size: ;
  font-weight: ;
  font-style: ;
}

.button-24 {

  background: #F61203;
  border: 1px solid #9F0A00;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.button-24:hover,
.button-24:active {
  background-color: initial;
  background-position: 0 0;
  color: #FF4742;
}

.button-24:active {
  opacity: .5;
}
